<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a class="nav-link" href="#pablo" id="navbarDropdownPerson" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="material-icons">person</i>
          <p>
            <span class="d-lg-none d-md-block">Account</span>
          </p>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPerson">
          <a class="dropdown-item" style="color: #333" routerLink="/login" href="#">Logout</a>
        </div>
      </li>
      <li class="nav-item">
        <span style="color: white;padding: 10px;">{{CurrentUser.DisplayName}}</span>
      </li>
    </ul>
  </div>
  <ul class="nav">
    <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
      <a class="nav-link" title="{{menuItem.title}}" [routerLink]="[menuItem.path]" style="margin: 0">
        <i class="material-icons">{{menuItem.icon}}</i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul>
</div>
