<section class="byPageSection">
  <div class="container-fluid">
    <div class="row">
      <div class="container-fluid buttonlist">
        <div class="row">
          <a class="btn-a" (click)="newVisitor()" role="button">
            <i class="fa fa-plus fa-lg"></i> New
          </a>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-sm-5">
        <app-matselect placeholder="Department" [listId]="1001" [(ngModel)]="departnemtId"
          (SelectedValueChanged)="departnemtId = $event" [defaultOn]="true" [hideDefaultAfterSelect]="false"
          default="----- All Department -----">
        </app-matselect>
      </div>
      <div class="col-sm-1">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerfrom" placeholder="From" [(ngModel)]="frmDate">
          <mat-datepicker-toggle matSuffix [for]="pickerfrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerfrom></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-1">
        <mat-form-field>
          <input matInput [matDatepicker]="pickerTo" placeholder="To" [(ngModel)]="toDate">
          <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-sm-3">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="filterType"
        >
          <mat-radio-button class="example-radio-button" [value]="1">
            All
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="2">
            Work Done
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" [value]="3">
            Pending
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col-sm-2">
        <a class="btn-a" id="btnUpd" style="color: #0a0a0a" role="button" (click)="findData()">
          <i class="fa fa-search fa-lg"></i> Find
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="table-responsive">
          <mat-form-field class="example-full-width" style="margin-top: 20px;">
            <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          <table class="table table-hover table-sm fixed_header" matSort (matSortChange)="sortData($event)">
            <thead>
              <tr>
                <ng-container *ngFor="let col of details.Columns">
                  <th style="font-size: 13px;font-weight: 500;" *ngIf="col.IsVisible"
                    mat-sort-header="{{col.ColumnName}}">{{col.DisplayName}}</th>
                </ng-container>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let rowData of dataSource">
                <tr>
                  <ng-container *ngFor="let col of details.Columns">
                    <td style="font-size: 12px;" *ngIf="col.IsVisible">{{rowData | Columns:col.ColumnName}}</td>
                  </ng-container>
                  <td>
                    <a class="btn-a" (click)="ViewButtonClicked(details.Url,details.FormId,rowData.Id)" role="button">
                      <i class="fa fa-eye"></i> View</a>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="row pull-right">
          <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[20,50, 100, 500,1000]"
            [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)">
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</section>